# Ignore node_modules directory
node_modules/
client/node_modules
server/node_modules
.github
# Ignore log files
*.log

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore local configuration files
.env
.env.local
Server/.env

# Ignore VS Code settings
.vscode/
# Ignoring build files
font/build
Server/dist


To add the package-lock.json file to your .gitignore file, you can update it as follows:

plaintext
Copy code
# Ignore node_modules directory
node_modules/
client/node_modules
server/node_modules
.github

# Ignore log files
*.log

# Ignore compiled binaries
*.exe
*.dll
*.so
*.dylib

# Ignore local configuration files
.env
.env.local
Server/.env

# Ignore VS Code settings
.vscode/

# Ignore build files
client/build
server/dist

# Ignore package-lock.json file
package-lock.json
server/package-lock.json

front/src/Constants/URL.tsx